$primary: #3292a6;
$primary-overlay: rgba(50,146,166,0.8);
body{
    margin-top: 105px;
}
.navbar{
    box-shadow: 2px 2px 5px $primary;
    opacity: 0.9;
    background: #fff;
    .nav-item{
        font-size: 1.4rem;
        padding-right:1.4rem;
    }
}